<html>
  <body style="font-family: Arial, sans-serif; background-color: black; padding: 20px; margin: 0;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
      <h2 style="color: #EF4444; text-align: center;">Estoque Cars</h2>
      <p style="font-size: 16px; color: #555555; line-height: 1.5;">
        Olá {{ nome }}, seu código de recuperação é: <b>{{ codigo }}</b><br>
      </p>
      <div style="text-align: center; margin-top: 20px;">
          <img src="https://ibb.co/67RxpWTw" alt="Logo da empresa" style="max-width: 100%; border-radius: 8px;">
      </div>
      <hr style="border: none; border-top: 1px solid #eeeeee; margin: 30px 0;">
      <p style="font-size: 12px; color: #999999; text-align: center;">
        Atenciosamente,<br>Equipe Estoque Cars<br>
      </p>
    </div>
  </body>
</html>